// Vars
$font-stack:	Arial, Helvetica, sans-serif;
$bright-green:	#6BE400;
$pale-green:	#ABF26D;
$dark-green:	#40701A;
$black:			#000000;
$white:			#FFFFFF;

.columndiv {
}

#beer-list {
	font-family:	$font-stack;
	background:		$white;
	color:			$black;
}

#beer-list ul {
	/* Reset everything to 0 for now */	
	list-style: none;
	margin: 0;
	padding: 0;
	column-count: 2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-width: 50%;
	-moz-column-width: 50%; /* Firefox */
	-webkit-column-width: 50%; /* Safari and Chrome */
	
	li {
		/* Reset everything to 0 for now */
		list-style: none;
		margin: 0;
		padding: 10px 0px 10px 80px;

		background-repeat: no-repeat;
		background-image: url('icons/serving.png');		
		
		&.low {
			background-image: url('icons/low.png');		
		}
		
		&.next {
			background-image: url('icons/next.png');		
		}
		
		h2 {
			font-size: 17px;
			margin: 0;
		}
		
		font-size: 12px;
	}
}
